@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-dark: #2B2B2B;
  --color-light: #FAFAFA;
  --color-accent: 235, 100, 64;
  --color-primary: 239, 245, 245;
  --color-secondary: 214, 228, 229;
  --color-sub: 73, 113, 116;
  --color-accent-invert: 20, 155, 191;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}